In [1]:
# merging/joining tables

import pandas as pd
import numpy as np

In [2]:
# import tables

taxi_owners = pd.read_pickle("D:/Data Science/Data Sources/Data Camp/taxi_owners.p")
taxi_veh = pd.read_pickle("D:/Data Science/Data Sources/Data Camp/taxi_vehicles.p")

print(taxi_owners.info())
print(taxi_veh.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3519 entries, 0 to 3518
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rid      3519 non-null   object
 1   vid      3519 non-null   object
 2   owner    3519 non-null   object
 3   address  3519 non-null   object
 4   zip      3519 non-null   object
dtypes: object(5)
memory usage: 137.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3519 entries, 0 to 3518
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vid        3519 non-null   object
 1   make       3519 non-null   object
 2   model      3519 non-null   object
 3   year       3519 non-null   int64
 4   fuel_type  3519 non-null   object
 5   owner      3519 non-null   object
dtypes: int64(1), object(5)
memory usage: 165.1+ KB
None

In [3]:
# merge tables inner join

taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh')) # merge returns rows where values match in both tables

print(taxi_own_veh)

        rid   vid         owner_own                 address    zip    make  \
0     T6285  6285    AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630  NISSAN
1     T4862  4862      MANGIB CORP.  5717 N. WASHTENAW AVE.  60659   HONDA
2     T1495  1495     FUNRIDE, INC.     3351 W. ADDISON ST.  60618  TOYOTA
3     T4231  4231      ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645  TOYOTA
4     T5971  5971    EUNIFFORD INC.     3351 W. ADDISON ST.  60618  TOYOTA
...     ...   ...               ...                     ...    ...     ...
3514  T4453  4453   IMAGIN CAB CORP     3351 W. ADDISON ST.  60618    FORD
3515   T121   121  TRIBECA CAB CORP     4536 N. ELSTON AVE.  60630    FORD
3516  T3465  3465  AMIR EXPRESS INC     3351 W. ADDISON ST.  60618  TOYOTA
3517  T1962  1962  KARY CAB COMPANY     4707 N. KENTON AVE.  60630  TOYOTA
3518  T1031  1031       NECT 42 LLC    6500 N. WESTERN AVE.  60645    FORD

       model  year fuel_type         owner_veh
0     ALTIMA  2011    HYBRID    AGEAN TAXI LLC
1        CRV  2014  GASOLINE      MANGIB CORP.
2     SIENNA  2015  GASOLINE     FUNRIDE, INC.
3      CAMRY  2014    HYBRID      ALQUSH CORP.
4     SIENNA  2015  GASOLINE    EUNIFFORD INC.
...      ...   ...       ...               ...
3514  ESCAPE  2010    HYBRID   IMAGIN CAB CORP
3515   C-MAX  2014    HYBRID  TRIBECA CAB CORP
3516   CAMRY  2014    HYBRID  AMIR EXPRESS INC
3517   CAMRY  2014    HYBRID  KARY CAB COMPANY
3518  FUSION  2014    HYBRID       NECT 42 LLC

[3519 rows x 10 columns]

In [4]:
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [5]:
# import new tables

ward = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\ward.p")

census = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\census.p")

print(ward.info())
print(census.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ward      50 non-null     object
 1   alderman  50 non-null     object
 2   address   50 non-null     object
 3   zip       50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ward      50 non-null     object
 1   pop_2000  50 non-null     int64
 2   pop_2010  50 non-null     int64
 3   change    50 non-null     object
 4   address   50 non-null     object
 5   zip       50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB
None

In [6]:
# inner join

wards_census = ward.merge(census, on = 'ward')

print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)

In [7]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by ='account',ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

NameError: name 'licenses' is not defined

In [ ]:
#merging multiple tables with '\'

wards = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\ward.p")
zip_demo = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\zip_demo.p")

# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on = 'zip') \
            			.merge(wards, on = 'ward')
 
# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

In [ ]:
# merging multiple tables inner join

land_use = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\land_use.p")

# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(by = ['vacant','account','pop_2010'], 
                                             ascending=(False,True,True))

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156

In [ ]:
# left join

financials = pd.read_pickle("D:/Data Science/Data Sources/Data Camp/financials.p")
movies = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\movies.p")

print(financials.head())
print(movies.head())

       id     budget       revenue
0   19995  237000000  2.787965e+09
1     285  300000000  9.610000e+08
2  206647  245000000  8.806746e+08
3   49026  250000000  1.084939e+09
4   49529  260000000  2.841391e+08
      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [ ]:
# Merge the movies table with the financials table with a left/right join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isna().sum()

# Print the number of movies missing financials
print(number_of_missing_fin)

1574

In [ ]:
# self join

crews = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\crews.p")

# Merge the crews table to itself
crews_self_merged = crews.merge(crews, left_on = 'id', right_on = 'id', suffixes = ('_dir', '_crew'))

print(crews_self_merged.head())

      id department_dir job_dir           name_dir department_crew  \
0  19995        Editing  Editor  Stephen E. Rivkin         Editing
1  19995        Editing  Editor  Stephen E. Rivkin           Sound
2  19995        Editing  Editor  Stephen E. Rivkin      Production
3  19995        Editing  Editor  Stephen E. Rivkin       Directing
4  19995        Editing  Editor  Stephen E. Rivkin         Writing

         job_crew          name_crew
0          Editor  Stephen E. Rivkin
1  Sound Designer  Christopher Boyes
2         Casting          Mali Finn
3        Director      James Cameron
4          Writer      James Cameron

In [ ]:
# Create a Boolean index to select the appropriate
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') & 
     (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

print(direct_crews.head())

        id department_dir   job_dir       name_dir department_crew  \
156  19995      Directing  Director  James Cameron         Editing
157  19995      Directing  Director  James Cameron           Sound
158  19995      Directing  Director  James Cameron      Production
160  19995      Directing  Director  James Cameron         Writing
161  19995      Directing  Director  James Cameron             Art

           job_crew          name_crew
156          Editor  Stephen E. Rivkin
157  Sound Designer  Christopher Boyes
158         Casting          Mali Finn
160          Writer      James Cameron
161    Set Designer    Richard F. Mays

In [ ]:
# merging on indexes of DF

ratings = pd.read_pickle("D:/Data Science/Data Sources/Data Camp/ratings.p")

# Merge to the movies table the ratings table on the index
movies_ratings = movies.merge(ratings, left_on = 'id', right_on = 'id')

# Print the first few rows of movies_ratings
print(movies_ratings.head())

      id                 title  popularity release_date  vote_average  \
0    257          Oliver Twist   20.415572   2005-09-23           6.7
1  14290  Better Luck Tomorrow    3.877036   2002-01-12           6.5
2  38365             Grown Ups   38.864027   2010-06-24           6.0
3   9672              Infamous    3.680896   2006-11-16           6.4
4  12819       Alpha and Omega   12.300789   2010-09-17           5.3

   vote_count
0       274.0
1        27.0
2      1705.0
3        60.0
4       124.0

In [ ]:
sequels = pd.read_pickle("D:\Data Science\Data Sources\Data Camp\sequels.p")

# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on = 'id', how = 'left')

print(sequels_fin.head())

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, left_on='sequel', 
                             right_on='id',
                             suffixes=('_org','_seq'))


# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org','title_seq','diff']]

# Print the first rows of the sorted titles_diff
print(titles_diff.sort_values(by = 'diff', ascending = False).head())

      id         title  sequel       budget       revenue
0  19995        Avatar    <NA>  237000000.0  2.787965e+09
1    862     Toy Story     863   30000000.0  3.735540e+08
2    863   Toy Story 2   10193   90000000.0  4.973669e+08
3    597       Titanic    <NA>  200000000.0  1.845034e+09
4  24428  The Avengers    <NA>  220000000.0  1.519558e+09
            title_org        title_seq          diff
28  Jurassic Park III   Jurassic World  1.144748e+09
26      Batman Begins  The Dark Knight  6.303398e+08
11         Iron Man 2       Iron Man 3  5.915067e+08
1         Toy Story 2      Toy Story 3  5.696028e+08
14  Quantum of Solace          Skyfall  5.224703e+08

In [ ]:
# concatenating vertically

# pd.concat([df1,df2,df3]) - must be the same columns and number of columns
#

In [ ]:
# merging in order using pd.merge_ordered

# great for time series data

# pd.merge_ordered(df,df,left_on =, right_on =, how=)

# pd.merge_asof(df,df, on, left_on = , right_on=,)

#df.query() -  much like a sql statement df.query('col1 > xyz and/or (col2 == xyz or col 3 > xyz')

# df.melt() - reshapes df - transforms wide to long df and vice versa
    # .melt(id_vars = [], value_vars = [], var_name =''), value_name = '')
        # where id_vars = identifier variables - cols we do not want to change; value_vars = control cols to unpivot